body{
    background: #0C0824;
    background: linear-gradient(to right, #975B55,#D56C42);   
}

.bg{
    background-image: url(../imagenes/img-login-1.png);  
    background-image: center center;    
    background-repeat: no-repeat;    
}

