body{
    background: #0C0824;
    background: linear-gradient(to right, #49313F,#000011);   
}

.bg{
    background-image: url(../imagenes/img-login.png);  
    background-image: center center;    
    background-repeat: no-repeat;    
}

.pointer{
    cursor: pointer;
}



